@model Investimentos.Models.Historico
@{
    ViewData["Title"] = "Excluir Operação";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir?</h3>

<hr />

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <blockquote>
                
                <p>@Html.DisplayFor(model => model.Papel.Nome)</p>
                
                <footer>
                    <span>@Html.DisplayNameFor(model => model.Negociacao)&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                    <strong tabindex="5">@Html.DisplayFor(model => model.Negociacao)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.C_V) &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span>
                    <strong>@Html.DisplayFor(model => model.C_V)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.TipoMercado) &emsp;&emsp;&nbsp;&nbsp;&nbsp;</span>
                    <strong>@Html.DisplayFor(model => model.TipoMercado)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.Quantidade)&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                    <strong>@Html.DisplayFor(model => model.Quantidade)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.Preco) &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</span>
                    <strong>$ @Html.DisplayFor(model => model.Preco)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.ValorOperacao)&emsp;&emsp;</span>
                    <strong>$ @Html.DisplayFor(model => model.ValorOperacao)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.DataOperacao) &emsp;&emsp;</span>
                    <strong>@Html.DisplayFor(model => model.DataOperacao)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model => model.Obs) &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span>
                    <strong>@Html.DisplayFor(model => model.Obs)</strong>
                </footer>

            </blockquote>
        </div>
    </div>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-sm btn-danger link-btn">Excluir</button>
            <a asp-action="Index">Voltar à Lista</a>
        </form>
    </div>
</div>