@model IEnumerable<Investimentos.Models.Historico>
@{
    ViewData["Title"] = "Histórico";
}

<div id="link"></div>
<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" id="form-filtro" role="search">

            <div class="form-group">
                <div class="form-group">
                    <label for="dataMin">Data mínima</label>
                    <input type="date" class="form-control" name="dataMin" value=@ViewData["dataMin"] />
                </div>

                <div class="form-group" id="div-dataMax">
                    <label for="dataMax">Data máxima</label>
                    <input type="date" class="form-control" name="dataMax" value=@ViewData["dataMax"] />
                </div>
            </div>
            <abbr title="Pesquisar"><button type="submit" id="btn-filtrar" class="btn btn-link"><i class="fas fa-search"></i></button></abbr>
        </form>

        <p class="btn-criar">
            <a asp-action="Create" id="criar-historico" class="btn btn-sm btn-default">Criar Novo</a>
        </p>
    </div>
</nav>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Negociacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_V)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMercado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PapelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorOperacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOperacao)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.Negociacao)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.C_V)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.TipoMercado)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.PapelId)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.Quantidade)
                </td>
                <td>
                    $ @Html.DisplayFor(itemModel => item.Preco)
                </td>
                <td>
                    $ @Html.DisplayFor(itemModel => item.ValorOperacao)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.DataOperacao)
                </td>
                <td class="btns" style="width: 100%;">
                    <abbr title="Editar"><a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a></abbr> |
                    <abbr title="Detalhes"><a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a></abbr> |
                    <abbr title="Excluir"><a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a></abbr>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- btn para ir ao topo da pag -->
<abbr title="Ir ao Topo"><a id="btn-topo" href="#link"><i class="fas fa-arrow-alt-circle-up fa-2x"></i></a></abbr>