@model Investimentos.Models.Papel
@{
    ViewData["Title"] = "Detalhes";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.TipoPapelId)</dt>
        <dd>@Html.DisplayFor(model => model.TipoPapel.Tipo)</dd>
    </dl>

    <div class="row">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-default link-btn">Editar</a>
        <a asp-action="Index">Voltar à Lista</a>
    </div>
</div>