@model Investimentos.Models.Papel
@{
    ViewData["Title"] = "Detalhes";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<hr />

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <blockquote>
                
                <p>@Html.DisplayFor(model => model.Nome)</p>
                
                <footer>
                    <span>@Html.DisplayNameFor(model => model.TipoPapel) &emsp;&emsp;</span>
                    <strong>@Html.DisplayFor(model => model.TipoPapel.Tipo)</strong>
                </footer>

            </blockquote>
        </div>
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-default link-btn">Editar</a>
    <a asp-action="Index">Voltar à Lista</a>
</div>