@model IEnumerable<Investimentos.Models.Papel>
@{
    ViewData["Title"] = "Papéis";
}

<h2>@ViewData["Title"]</h2>

<p class="btn-criar">
    <a asp-action="Create" class="btn btn-sm btn-default">Criar Novo</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPapelId)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.TipoPapelId)
                </td>
                <td class="btns" style="width: 50%;">
                    <abbr title="Editar"><a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a></abbr> |
                    <abbr title="Detalhes"><a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a></abbr> |
                    <abbr title="Excluir"><a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a></abbr>
                </td>
            </tr>
        }
    </tbody>
</table>