@model Investimentos.Models.Carteira
@{
    ViewData["Title"] = "Excluir Operação";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<hr />

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <blockquote>

                <p>@Html.DisplayFor(model => model.Papel.Nome)</p>

                <footer>
                    <span>@Html.DisplayNameFor(model=> model.Quantidade)&emsp;&emsp;</span>
                    <strong>@Html.DisplayFor(model => model.Quantidade)</strong>
                </footer>

                <footer>
                    <span>@Html.DisplayNameFor(model=> model.PrecoMedio) &emsp;&nbsp;</span>
                    <strong>$ @Html.DisplayFor(model => model.PrecoMedio)</strong>
                </footer>

            </blockquote>
        </div>
    </div>

    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-sm btn-danger link-btn">Excluir</button>
            <a asp-action="Index">Voltar à Lista</a>
        </form>
    </div>
</div>