@model Investimentos.Models.Carteira
@{
    ViewData["Title"] = "Excluir Operação";
}

<h2 class="titulo">@ViewData["Title"]</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.PapelId)</dt>
        <dd>@Html.DisplayFor(model => model.Papel.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Quantidade)</dt>
        <dd>@Html.DisplayFor(model => model.Quantidade)</dd>

        <dt>@Html.DisplayNameFor(model => model.PrecoMedio)</dt>
        <dd>$ @Html.DisplayFor(model => model.PrecoMedio)</dd>
    </dl>

    <div class="row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-sm btn-danger link-btn">Excluir</button>
            <a asp-action="Index">Voltar à Lista</a>
        </form>
    </div>
</div>